@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize; /* con capitalize pones las primeras con mayusculas */
    transition: all .2s linear;
}

$red: #e60000;
$black: #222;
$white:#fff;
$light-color: #666;
$light-bg: #eee;
$border: .2rem solid $black;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1) ; 

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb{
        background: #e60000;
    }
    
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    color: $black;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: $red;
    color: $white;
    font-size: 1.7rem;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover{
        letter-spacing: .1rem;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-4rem) scale(.4);
    }
}

/* *empieza el Header */
.header{
    position:sticky;
    top: 0;left: 0; right: 0;
    z-index: 1000;
    box-shadow: box-shadow;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
    
    .logo{
        font-size: 2.5rem;
        color: #000;
        font-weight: bolder;

        i{
            color: red;
        }
    }

    .navbar a{
        margin: 0 1.5rem;
        font-size: 1.7rem;
        color: #000;

        &:hover{
            color: red;
        }
    }

    .icons div, .icons a{
        height: 4.5rem; width: 4.5rem;
        line-height: 4.5rem;
        border-radius: .5rem;
        background: #eee;
        font-size: 1.7rem;
        color: #000;
        margin-left: .3rem;
        text-align: center;
        cursor: pointer;

        &:hover{
            background-color: #e60000;
            color: #fff;
        }
    }

    #menu-btn{
        display: none;
    }

    .search-form{
        position: absolute;
        top: 99%; left: 0; right: 0;
        height: 6rem;
        background: #fff;
        border-top: .2rem solid #000;
        border-bottom: .2rem solid #000;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        clip-path: polygon(0 0,100% 0, 0 0);

        &.active1{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        
        input{
            width: 100%;
            font-size: 1.6rem;
            color:$light-color;
            text-transform: none;
          }
      
          label{
            font-size: 2.5rem;
            margin-left: 2rem;
            color:$black;
            cursor: pointer;
      
            &:hover{
              color:$red;
            }
          }
    }
} 

//*Seccion home

.home{
    position: relative;
    padding: 0;
    

    .slide{
        padding: 2rem;
        display: flex;
        min-height: 60vh;
        display: none;

        &.active{
            display: flex;
        }

        .content{
            margin: auto;
            text-align: center;

            span{
                color: $black;
                display: block;
                font-size: 3rem;
                text-shadow: $box-shadow;
                animation: fadeIn .2s linear backwards;
            }

            h3{
                font-size: 5rem;
                color: $black;
                text-shadow: $box-shadow;
                text-transform: uppercase;
                animation: fadeIn .2s linear backwards .4s;
            }

            .btn{
                animation: fadeIn .2s linear backwards .6s;
                
            }
        }
    }

    #next-slide,
    #prev-slide{
        height: 5rem;
        width: 5rem;
        line-height: 4.5rem;
        font-size: 2.5rem;
        color: $black;
        border: $border;
        background: $white;
        box-shadow: $box-shadow;
        cursor: pointer;
        position: absolute;
        bottom: 2rem; right: 2rem;
        text-align: center;

        &:hover{
            background: $red;
            color: $white;
        }
    }

    #prev-slide{
        right: 8rem;
    }
}

.category{
    .box-container{
        @include grid(16rem);

        .box{
            text-align: center;

            &:hover h3{
                color: $red;
            }
            
            img{
                height: 14rem;
                margin-bottom: 1rem;
            }

            h3{
                font-size: 1.7rem;
                color: $black;
                font-weight: normal;
            }
        }
    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .image{
        flex: 1 1 42rem;
        padding-bottom: 5rem;
        padding-right: 5rem;

        img{
            width: 100%;
            box-shadow: 4rem 4rem 0 $light-bg;
        }
    }

    .content{
        flex: 1 1 42rem;

        .box{
            padding: 3rem;
            background: $light-bg;

            h3{
                font-size: 2.5rem;
                color: $black;
            }

            p{
                padding: 1rem 0;
                line-height: 2;
                list-style: $light-color;
                font-size: 1.4rem;
            }
        }

        .icons-container{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap:2rem;
            margin-top: 2rem;

            .icons{
                flex:1 1 16rem;
                background: $light-bg;
                padding: 2rem;
                text-align: center;

                i{
                    color: $red;
                    margin-bottom: 1rem;
                    font-size: 5rem;
                }

                p{
                    font-size: 1.4rem;
                    color: $light-color;
                }
            }
        }
    }
}

.shop{
    background: $light-bg;
  
    .box-container{
      @include grid(31rem);
  
      .box{
        text-align: center;
        background: $white;
        border:$border;
        box-shadow: $box-shadow;
  
  
        .image{
          position: relative;
          overflow:hidden;
  
          img{
            height: 25rem;
          }
  
          .icons{
            position: absolute;
            top:1rem; left:2rem;
            transform: translateX(-10rem);
  
            a{
              display: block;
              height: 5rem;
              width: 5rem;
              line-height: 4.5rem;
              font-size: 1.7rem;
              color:$black;
              border:$border;
              box-shadow: $box-shadow;
              margin-top: 1rem;
  
              &:hover{
                color:$white;
                background: $red;
              }
            }
          }
        }
  
      }
    }
}

// *media queries

@media (max-width:991px){

    html{
      font-size: 55%;
    }
  
    .header{
      padding:1.5rem 2rem;
    }
  
    section{
      padding:3rem 2rem;
    }
  
  }
  
  @media (max-width:768px){
  
    .header{
  
      #menu-btn{
        display: inline-block;
      }
  
      .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: $white;
        border-top: $border;
        border-bottom: $border;
        padding:0 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  
        &.active{
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
  
        a{
          display: block;
          font-size: 2rem;
          margin:3rem 1rem;
        }
      }
    }
  
  }


@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .slide .content {
        h3{
            font-size: 4rem;
        }

        span{
            font-size: 2.5rem;
        }
    }
}
