<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style-text.css">
</head>
<body>
    <nav class="nabvar">
        <div class="subnavbar">
            <h1><a href="#">INICIO</a></h1>
        </div>
        <div class="subnavbar">
            <h4><a href="test2.html">AGENDA</a></h4>
            <div class="subnavbar_div">
                <a href="test2.html">Dias de la semana</a>
                <a href="test2.html">Actividaddes del dia</a>
            </div>
        </div>
        <div class="subnavbar">
            <h4><a href="test2.html">CALENDARIO</a></h4>
            <div class="subnavbar_div">
                <a href="test2.html">Vista del mes entero</a>
            </div>
        </div>
        <div class="subnavbar">
            <h4><a href="test2.html">PERFIL</a></h4>
            <div class="subnavbar_div">
                <a href="test2.html">Configuracion</a>
                <a href="test2.html">Modificar perfil</a>
                <a href="test2.html">Cambiar usuario</a>
            </div>
        </div>
    </nav>

<!-- <img class="img-1" src="image/endo-f3.svg" alt="">
<img class="img-2" src="image/endo-f3.svg" alt="">
<img class="img-3" src="image/endo-f3.svg" alt="">
<img class="img-4" src="image/endo-f3.svg" alt=""> -->
<!-- <br><br><br> -->
<table>
    <tr class="tr">
        <td>Anticonceptivos hormonalesadadaadadaad:</td>
        <td>2 meses</td>
    </tr>
    <tr class="tr">
        <td>Corticoides en dósis altas:</td>
        <td>15 días</td>
    </tr>
    <tr class="tr">
        <td>Antiobióticos:</td>
        <td>7 d21212212ías</td>
    </tr>
</table>
<script src="js/srcipt.js"></script>
</body>
</html>