<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redireccion</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugiat eius fugit dolorem totam quia perferendis esse molestias sed deserunt libero expedita, suscipit officiis quaerat, architecto rem repellendus nemo nobis?</p>
</body>
</html>